<div class="footer clearfix">
  © Все права защищены, smile-wedding.ru


  <div class="create">
    сделано в
    <%= link_to 'http://rocket-web.ru/', {:target => '_blank'} do %>
        <%= image_tag "rocket-web-blue.png", alt: "Веб студия Rocket-web" %>
    <%- end %>
  </div>

  <div class="social">
    <div class="share-title">Поделиться:</div>
    <div class="share-buttons">
      <%= module_to(@posts, 'кнопки социальных сетей') %>
    </div>
  </div>
</div>