.row.form-promo#order{ :ng => {:controller =>"OrderFormCtrl"}}
  .col-sm-6
    = raw module_to(@posts, 'оставьте заявку')
    -#%h2
      %span Оставьте заявку
    -#%p на проведение программы ведущего Виталия Смаль с DJ и оборудованием на Ваше торжество
    -#%p
      %i.glyphicon.glyphicon-time
      Мы перезвоним в течение 10 минут
    
  .col-sm-5.col-sm-push-1{:ng => {:hide => "success"}}
    = form_tag({controller: "pages", action: "order"}, method: "post", class: "form-horizontal") do
      .alert.alert-danger{:ng => {:if=>"errors"}}
        %ul
          %li{:ng => {:if=>"errors.name"}}
            %b Имя
            %span{:ng => {:bind=>"errors.name"}}
          %li{:ng => {:if=>"errors.phone"}}
            %b Номер телефона
            %span{:ng => {:bind=>"errors.phone"}}
      .form-group
        .col-sm-12
          %input.form-control{:type => "text", :name => "name", :placeholder=>"Ваше имя", :ng => {:model => "order.name"}}
          -#= text_field(:order, :name, :class=> "form-control", )
      .form-group
        .col-sm-12
          %input.form-control{:type => "text", :name => "phone", :mask => "9 (999) 999-99-99", :placeholder=>"Номер телефона 8 (909) 999-99-99", :ng => {:model => "order.phone"}}
          -#= telephone_field(:order, :phone, :class=> "form-control", :placeholder=>"Номер телефона", :ng => {:model => "order.phone"})
      .form-group
        .col-sm-12
          %input.form-control{:type => "text", :name => "date", :placeholder=>"Дата", :ng => {:model => "order.date"}}
          -#= text_field(:order, :date, :class=> "form-control", :placeholder=>"Дата", :ng => {:model => "order.date"} )
      %span.btn.btn-info.btn-lg{:type => "submit", :ng => {:click => "submit($event)"}} Отправить заявку
      
  .col-sm-5.col-sm-push-1{:ng => {:show => "success"}}
    .alert.alert-success
      %strong Ваша заявка принята, в ближайшее время мы с вами свяжемся