<div class="header container" id="home">
  <div class="row">
    <div class="col-lg-6">
      <h1>
        Виталий Смаль
        <br>
        <small>Профессиональный ведущий на праздник</small>
      </h1>
    </div>
    <div class="col-lg-6 text-right clearfix">
      <div class="zvonok pull-right">
        <a href="#order" class="btn btn-info btn-lg">Оставьте заявку</a>
      </div>
      <div class="contact pull-right">
        <%= module_to(@posts, 'контакты') %>
        <!--<div>Санкт-Петербург</div>-->
        <!--<div>-->
          <!--<i class="glyphicon glyphicon-phone-alt"></i>-->
          <!--<span class="phone">+7(981)12-55-707</span>-->
        <!--</div>-->
        <!--<div>-->
          <!--<i class="glyphicon glyphicon-envelope"></i>-->
          <!--<a href="mailto:smal@gmail.com">-->
            <!--smal@gmail.com-->
          <!--</a>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
