<div id="main-nav" class="navbar navbar-default container">
  <div class="offset-help">
    <div class="toggle-cont text-center">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul id="menu" class="nav navbar-nav text-center">
        <li><a href="#about">Принципы работы</a></li>
        <li><a href="#gallery">Фото</a></li>
        <li><a href="#video">Видео</a></li>
        <li><a href="#review">Отзывы</a></li>
        <li><a href="#order">Оставить заявку</a></li>
      </ul>
    </div>
  </div>
</div>