.footer{

    .social{
        float: right;
        margin: 0 80px 0 0;
        
        .share-title,
        .share-buttons{
            display: inline-block;
        }
    }

    .create{
        float: right;
        img{
            height: 17px;
            margin: -4px 0 0 4px;
            position: relative;
            vertical-align: middle;
        }
    }

}