.row{
    &.form-promo{
        padding: 30px 20px !important;
    }
}
.form-promo{
    h2{
        margin: 10px 0 20px;
        font-size: 35px;
    }
    p{
        font-size: 15px;
    }
    .glyphicon{
  
    }
}
