.promo{
    position: relative;
    margin-top: -9px;
    margin-bottom: 0px;

    .glyphicon{
//        color: #fff;
    }
}

.carousel-control.right{
//    background-image: linear-gradient(to right, rgba(72, 32, 154, 0) 0%, rgba(72, 32, 154, 1) 100%);
    background-image: none;
    background-repeat: repeat-x;
}
.carousel-control.left{
//    background-image: linear-gradient(to right, rgba(72, 32, 154, 0.80) 0%, rgba(72, 32, 154, 0) 100%);
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-caption{
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 45px;
    padding-top: 10px;
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    background: rgba(0,0,0,.3);
    
    h3{
        font-size: 30px;
    }
}

.carousel-indicators{
    bottom: 0;
}