@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
@import "promo";
@import "order";
@import "nav";
@import "header";
@import "gallery";
@import "footer";

body{
    background: image-url('head-bg.png') repeat-x 0 0, image-url('bg1.png');
    color: #555;
}

.container{
    width: 960px;
    margin-bottom: 40px;
}
.wrapper{
    padding: 0 0 30px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    > .row{
        margin: 0;
        padding: 0 20px 40px;

        &#review{
            
            
            .row{
                margin: 0;
            }

            .col-sm-4{
                margin-bottom: 45px;
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }
}
.glyphicon{
    color: #945fba;
}

.img-circle{
    box-shadow: 0 1px 5px 0px $alert-success-border;
}

.bg-primary{
    background: $bg-primary;
    border-top: 1px solid #d9d8d6;
    border-bottom: 1px solid #d9d8d6;
    color: #555;
    text-shadow: 1px 1px 0 #fff;

    .glyphicon{
        color: #555;
        text-shadow: 1px 1px 0 #fff;
    }
}

h2{
    color: $pure-color;
    font-family: 'Lobster', cursive;
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
    text-shadow: 1px 1px 0 $alert-success-border;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;

    span{
        position: relative;
        display: inline-block;

        &:after{
            content: '';
            position: absolute;
            left: -70px;
            top: 10px;
            width: 35px;
            height: 27px;
            background: image-url("ornament-t-left.png");
        }
        &:before{
            content: '';
            position: absolute;
            right: -70px;
            top: 10px;
            width: 35px;
            height: 27px;
            background: image-url("ornament-t-right.png");
        }
    }
}

.video{
    iframe{
        width: 100% !important;
    }
}

//alert
.alert{
    
    h2{
        margin-top: 0;
    }
}
//end alert

img{
    
    &.left{
        float: left;
        margin: 0 20px 20px 0;
        vertical-align: top;
        border: 4px solid #fff;
        border-radius: 4px;
        box-shadow: 0 0 0 1px #ddd;
    }
    &.right{
        float: right;
        margin: 0 0 20px 20px;
        vertical-align: top;
        border: 4px solid #fff;
        border-radius: 4px;
        box-shadow: 0 0 0 1px #ddd;
    }
}