<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="description" content="<%= module_to(@posts, 'description') %>">
  <meta name="keywords" content="<%= module_to(@posts, 'keywords') %>">
  <meta name="author" content="">
  <title><%= module_to(@posts, 'заголовок сайта') %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag 'angular.js' %>
  <%= javascript_include_tag 'angular-resource.js' %>
  <%= javascript_include_tag 'ngMask.js' %>
  <%= javascript_include_tag 'app/app.js' %>
  <%= javascript_include_tag 'app/order.js' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="landing">

<%= render 'pages/header' %>
<%= render 'pages/nav' %>

<div class="container wrapper">

  <%= render 'pages/carousel' %>
  <%= render 'pages/about' %>
  <%= render 'pages/gallery' %>
  <%= render 'pages/video' %>
  <%= render 'pages/review' %>

  <%= render 'pages/form' %>

  <%= yield %>

</div>

<div class="container">
  <%= render 'pages/footer' %>
</div>

<%= render 'pages/overlay' %>
<%= render 'pages/counter' %>

</body>
</html>
